<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <style>
    body {
      background-image: url('/bg5.jpg');
      background-size: cover;
      background-position: center;
      height: 100vh;
      margin: 0;
      text-align:center;
      justify-content: center;
      align-items: center;
      color:white;
      font-size: 48px;
      font-weight: 900;
      position: relative;
      pr {
        top: 10%;
        position: relative;
        text-align: left;

      }
    }
  </style>
    
</head>
<body>
    <pr>
        Congrats! You've nailed the treasure question <br>and just unlocked space teleportation. <br><br><br>
    </pr>
    <pr style="font-size: 32px;">
        You're going to 
    </pr>
    <pr style="font-size: 60px;">Little Prince Universe</pr>
    <pr style="font-size: 32px;">
      .
    </pr>
    <form action="/back" method="post">
      <button type="submit" style="font-size: 24px;border-radius: 12px;padding: 0.5rem 1rem;position: absolute;left: 50%;translate: -50%;bottom: 10%;">Back</button>
    </form>
</body>
</html>
